:root {
  font-family: "DM Sans";
}

img {
  /* max-width: 100%;
  max-height: 100%; */
}

header {
  background-color: #1f1f1f;
}

footer {
  text-align: center;
  padding: 16px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1232px;
  margin: 0 auto;
}

.title-container {
  margin: 16px;
  transition: 0.6s;
}

h1 {
  margin: 0px;
  padding: 0px;
}
.subtitle {
  font-family: "DM Mono";
  text-transform: uppercase;
}

.form-container {
  width: 600px;
}
.search-form {
  display: flex;
  justify-content: end;
  width: 100%;
}
.search {
  width: 200px;
  border: 0px;
  height: 24pt;
  border-radius: 24px;
  padding: 0px 12px;
  margin-right: 16px;
  margin-left: 16px;
  transition: 0.6s ease-in-out;
}

.search:focus {
  width: 100%;
  margin-right: 16px;
  transition: 0.6s ease-in-out;
}

body {
  background-color: #292929;
  color: #efefef;
  /* max-width: 1232px; */
  margin: 0 auto;
}

main {
  max-width: 1232px;
  margin: 0 auto;
}
.top-container {
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 16px;
}

.news-box-container {
  width: calc((100% - 32px) / 3);
  margin-right: 16px;
  margin-bottom: 18px;
  border-radius: 24px;
  border: 0px solid white;
  overflow: hidden;
  aspect-ratio: 5 / 5;
  position: relative;
  box-sizing: border-box;
}

.news-box-container:nth-child(3n) {
  margin-right: 0px;
}

.news-photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.news-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.news-text-container {
  padding: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}

.news-text-top-container {
}
.news-text-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  border: 1px solid red;
  transition: 0.6s ease-in-out;
}

.news-time {
  font-family: "DM Mono";
  font-size: 8pt;
  text-shadow: 0px 0px 3px black;
}

.news-title {
  font-family: "DM Sans";
  font-size: 24pt;
  /* display: none; */
  transition: 0.6s ease-in-out;
}

.news-site {
  display: inline-block;
  border-radius: 8px;
  box-sizing: content-box;
  font-size: 12pt;
  text-shadow: 0px 0px 3px black;
}

.news-summary {
  font-size: 18px;
  /* display: none; */
}

.news-source-link {
  background-color: #dddddd;
  color: black;
}

@media screen and (max-width: 1023px) {
  .form-container {
    width: 50vw;
    margin-right: 16px;
  }
  .search:focus {
    width: 100%;
  }
  body {
  }
  .news-box-container {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
    margin-bottom: 18px;
    border-radius: 24px;
    border: 0px solid white;
    overflow: hidden;
    aspect-ratio: 5 / 5;
    position: relative;
    box-sizing: border-box;
  }
  .news-box-container:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  body {
  }

  .top-bar {
    width: 100%;
    text-align: left;
  }

  h1 {
    text-align: left;
    margin: 0px;
  }

  .form-container {
    width: 100%;
    padding: 16px 16px;
    box-sizing: border-box;
    margin-right: 0px;
    position: absolute;
  }

  .search {
    width: 100px;
    border: 0px;
    height: 24pt;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0px;
    transition: 0.6s ease-in-out;
  }

  .search:focus {
    margin-right: 0px;
    transition: 0.6s ease-in-out;
  }

  .news-box-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 18px;
    border-radius: 24px;
    border: 0px solid white;
    overflow: hidden;
    aspect-ratio: 5 / 5;
    position: relative;
    box-sizing: border-box;
  }
}
