:root {
  font-family: "DM Sans";
  --tr-time: 0.4s ease-in-out;
  --tr-time-fast: 0.2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #1f1f1f;
}

footer {
  text-align: center;
  padding: 16px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1232px;
  margin: 0 auto;
}

.title-container {
  margin: 16px;
  transition: var(--tr-time);
}

h1 {
  margin: 0px;
  padding: 0px;
}
.subtitle {
  font-family: "DM Mono";
  text-transform: uppercase;
}

.form-container {
  width: 600px;
}
.search-form {
  display: flex;
  justify-content: end;
  width: 100%;
}
.search {
  width: 200px;
  border: 0px;
  height: 24pt;
  border-radius: 24px;
  padding: 0px 12px;
  margin-right: 16px;
  margin-left: 16px;
  transition: var(--tr-time);
}

.search:focus {
  width: 100%;
  margin-right: 16px;
  transition: var(--tr-time);
}

body {
  background-color: #292929;
  color: #efefef;
  /* max-width: 1232px; */
  margin: 0 auto;
}

main {
  max-width: 1232px;
  margin: 0 auto;
}
.top-container {
  max-width: 1232px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 16px;
}

.news-box-container {
  width: calc((100% - 32px) / 3);
  margin-right: 16px;
  margin-bottom: 18px;
  border-radius: 24px;
  border: 0px solid white;
  overflow: hidden;
  aspect-ratio: 5 / 5;
  position: relative;
  box-sizing: border-box;
}

.news-box-container:nth-child(3n) {
  margin-right: 0px;
}

.news-photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.news-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.photo-overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 1;
  transition: var(--tr-time);
}

.full-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: var(--tr-time);
}

.news-text-container {
  padding: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}

.news-text-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--tr-time);
}

.news-text-bottom-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: var(--tr-time);
  position: relative;
}

.news-time {
  font-family: "DM Mono";
  font-size: 8pt;
  text-shadow: 0px 0px 3px black;
}

.news-title {
  font-family: "DM Sans";
  font-size: 24pt;
  /* display: none; */
  transition: var(--tr-time);
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.news-site {
  display: inline-block;
  border-radius: 8px;
  box-sizing: content-box;
  font-size: 12pt;
  text-shadow: 0px 0px 3px black;
}

.news-details-absolute-container {
  position: absolute;
  padding: 32px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 6;
  opacity: 0;
  transition: var(--tr-time);
}
.news-details-container {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 6;
}

.news-summary-container {
  width: 100%;
  height: calc(100% - 32px);
  top: -16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
}

.news-summary {
  font-size: 18px;
  opacity: 1;
  max-height: calc(100% - 48px);
  transition: var(--tr-time);
  overflow: hidden;
}
.news-source-link {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: end;
  position: absolute;
}
.news-source-link button {
  background-color: #dddddd;
  border: 1px solid #dddddd;
  color: black;
  transition: var(--tr-time);
  font-size: 8pt;
  font-family: "DM Mono";
  padding: 4px 8px;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  display: flex;
}

.news-source-link button:hover {
  background-color: black;
  border: 1px solid #dddddd;
  color: #dddddd;
  transition: var(--tr-time-fast);
}

.pages-container {
  width: 100%;
}

.page-controller-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-number {
  display: flex;
  padding: 8px;
  border-radius: 16px;
  margin: 16px;
  background-color: white;
  color: black;
  min-width: 2ch;
  justify-content: center;
}
.page-number:hover {
  cursor: pointer;
}

.separator {
  display: flex;
  padding: 8px;
  border-radius: 16px;
  margin: 16px;
  color: white;
  min-width: 2ch;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .form-container {
    width: 50vw;
    margin-right: 16px;
  }
  .search:focus {
    width: 100%;
  }
  .news-box-container {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
    margin-bottom: 18px;
    border-radius: 24px;
    border: 0px solid white;
    overflow: hidden;
    aspect-ratio: 5 / 5;
    position: relative;
    box-sizing: border-box;
  }
  .news-box-container:nth-child(2n) {
    margin-right: 0px;
  }
  .page-number,
  .separator {
    margin: 1%;
    padding: 1%;
    font-size: 85%;
  }
}

@media screen and (max-width: 767px) {
  .top-bar {
    width: 100%;
    text-align: left;
  }

  h1 {
    text-align: left;
    margin: 0px;
  }

  .form-container {
    width: 100%;
    padding: 16px 16px;
    box-sizing: border-box;
    margin-right: 0px;
    position: absolute;
  }

  .search {
    width: 100px;
    border: 0px;
    height: 24pt;
    border-radius: 24px;
    padding: 0px 12px;
    margin: 0px;
    transition: var(--tr-time);
  }

  .search:focus {
    margin-right: 0px;
    transition: var(--tr-time);
  }

  .news-box-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 18px;
    border-radius: 24px;
    border: 0px solid white;
    overflow: hidden;
    aspect-ratio: 5 / 5;
    position: relative;
    box-sizing: border-box;
  }
}
